* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.Opcion{
    background-color: crimson;
    float: left;
    width: calc(100%/3);
    display: block;
}

ul > li > ul{
    display: none;
}

ul > li:hover > ul{
    display: block;
}

.InOpcion {
    background-color: blue;
    display: block;
    cursor:pointer;
}

.InOpcion:hover {
    background-color: green;
}

.cartulina{
    z-index: 9999;
    position: fixed;
    opacity: 0;
    background: silver;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;

}

.cartulina:target{
    opacity: 1;
    pointer-events: all;
}   