* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.Opcion{
    background-color: crimson;
    float: left;
    width: calc(100%/3);
    display: block;
}

ul > li > ul{
    display: none;
}

ul > li:hover > ul{
    display: block;
}

.InOpcion {
    background-color: blue;
    display: block;
    cursor:pointer;
}

.InOpcion:hover {
    background-color: green;
}
